html {
  box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #e5e5e5;
}
.text__h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}
.text__h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.text__h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 21px;
}
.text__p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.text__p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.header {
    min-height: 740px;
    background-image: url(../img/first_scrin_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 112px;
}
.header__logo {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    background-color: #fff;
    width: 21px;
    height: 3px;
    margin-bottom: 4px;
}
.burger__line:last-child {
    margin-bottom: 0;
}
.main__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
}
.main__text {
    max-width: 734px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
}
.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}
.info {
    position: absolute;
    top: -150px;
    background: rgba(247, 247, 247, 1);
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-item {
    text-align: center;
    width: 190px;
}
.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.about__h5 {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.about__p {
    color: var(--gray-color);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.project_h2 {
    text-align: center;
    margin-bottom: 50px;
}
.about__flex {
    display: flex;
    margin-bottom: 123px;
}
.about__flex-item {
    max-width: 350px;
    margin-right: 30px;
}
.about__flex-item:last-child {
    margin-right: 0;
}
.project__img {
    margin-bottom: 45px;
}
.rectangle {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}
.project_h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}
.project_p {
    color: var(--gray-color);
}
.strip {
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 181px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.strip__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strip__flex-left {
    color: var(--white-color);
    text-transform: uppercase;
}
.strip__text-h4 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.strip__text-h5 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding-top: 6px;
}
.strip__flex-right {
    padding-top: 21px;
}
.strip__button {
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}
.button__icon {
    margin-right: 15px;
}
.services {
    padding: 149px 0;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
}
.services__item {
    width: 350px;
    height: 250px;
    background: rgba(247, 247, 247, 1);
    padding: 59px 0;
}
.services__img {
    margin: 0 auto 21px;
}
.text__h2_services {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 57px;
}
.text__h4_services {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    max-width: 172px;
    margin: 0 auto;
}
.portfolio {
    margin-bottom: 150px;
}
.porfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 0;
}
.question {
    margin-bottom: 143px;
}
.question .text__h2_question {
    margin-bottom: 50px;
}
.text__h2_question {
    text-align: center;
}
.text__h3_question {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 23px;
}
.text__h3_question.text__h3_close {
    margin-bottom: 33px;
}
.text__p_question {
    margin-bottom: 35px;
    color: var(--gray-color);
    max-width: 730px;
}
.text__h3_question.text__h3_open::before,
.text__h3_question.text__h3_close::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/question\ close.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 13px;
}
.text__h3_question.text__h3_open::before {
    transform: rotate(-90deg);
}
.text__h3_question.text__h3_close + .text__p_question {
    display: none;
}
.parthners {
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 80px;
}
.text__h2_parthners {
    text-align: center;
    color: var(--white-color);
    margin-bottom: 50px;
}
.parthners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.parthners__item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 170px;
}
.parthners__item:nth-child(5n) {
    margin-right: 0;
}
.reviews {
    padding-top: 148px;
    margin-bottom: 144px;
}
.text__h2_reviews {
    text-align: center;
    margin-bottom: 63px;
}
.reviews__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.reviews__card {
    background: rgba(247, 247, 247, 1);
    padding: 0 30px 30px 30px;
    margin-bottom: 32px;
}
.reviews_quotes {
    color: var(--accent-color);
    font-size: 96px;
    font-weight: 700;
    line-height: 142px;
    margin-bottom: -60px;
}
.text__p_reviews {
    color: var(--gray-color);
    font-size: 14px;
    line-height: 21px;
}
.text__h4_reviews {
    line-height: 31px;
    letter-spacing: 0.02em;
}
.reviews__author {
    color: var(--accent-color);
}
.contacts {
    padding-top: 98px;
    margin-bottom: 150px;
}
.text__h2_contacts {
    text-align: center;
    margin-bottom: 60px;
}
.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.contacts__icon {
    margin: 0 auto;
    margin-bottom: 18px;
}
.text__h3_cap {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--gray-color);
    margin-bottom: 17px;
}
.text__h3_content {
    text-transform: uppercase;
    text-align: center;
}
.text__h3_color {
    color: var(--accent-color);
}
.footer {
    background-color: var(--dark-color);
    padding: 30px 0;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}
.text__p_footer {
    color: var(--white-color);
    line-height: 22px;
}