html {
  box-sizing: border-box;
}
    
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1100px;
    background-color: #b3a1a1;
    margin: 0 auto;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #e5e5e5;
}

.text-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.header {
    min-height: 740px;
    background-image: url(../img/first_scrin_bg.jpg);
    background-repeat: no-repeat;
}
.header__title {
}
.header__logo {
}
.burger {
}
.burger__line {
}
.main__title {
}
.main__text {
}
