html {
  box-sizing: border-box;
}
    
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #e5e5e5;
}

.text-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.header {
    min-height: 740px;
    background-image: url(../img/first_scrin_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 112px;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    background-color: #fff;
    width: 21px;
    height: 3px;
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.main__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
}

.main__text {
    max-width: 734px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
}
